/*section*/

#secVsPayment {
    padding: 80px 0;
    color: #333;
}

#step1, #step2 {
    margin-top: 20px;
}

#ulSteps {
    margin-bottom: 20px;
}

section {
    background-color: #f9f9f9 !important;
}

:not(.tab-pane) .tab-pane {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

#step2.tab-pane {
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px 15px 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
}

/*end section*/

/*input*/

#inputUpload {
    display: none;
}

/*end input*/

/*panel*/

#pnlSubmit {
    margin-top: 20px;
}

.panel-compare {
    padding: 30px 15px; 
}

.panel-compare:first-child {
    margin-bottom: 20px;
    cursor: pointer;
    border-right: 1px solid #bbb;
}

.panel-compare .fa:not(.fa-upload) {
    font-size: 8em;
    margin: 20px 0 30px;
}

.panel-compare a {
    color: #333 !important;
    text-decoration-line: none !important;
}

.panel-compare .form-group, .panel-company .form-group, .panel-table {
    display: flex;
    justify-content: center;
}

.panel-compare .form-group .panel-align {
    width: 70%;
}

.panel-company {
    margin-bottom: 5px;
}

.panel-company .form-group .panel-align {
    width: 70%;
}

.panel-table .panel-align {
    width: 80%;
}

.panel-align > .col-xs-12:not(:first-child) > .row > [class*="col-"]:not(:last-child) {
    border-right: 1px solid #ddd;
}

@media (max-width: 768px) {
    .panel-compare .form-group {
        width: 100%;
    }
    
    .panel-compare:first-child {
        border: none;
    }
    
    .panel-compare .form-group .panel-align, 
    .panel-company .form-group .panel-align,
    .panel-table .panel-align {
        width: 100%;
    }
}

/*end panel*/

/*input*/

.normal-input .input-group-addon {
    background-color: transparent;
    font-weight: bold;
    border: none;
}

/*end input*/