/*section*/

#ulSteps {
    margin-bottom: 20px;
}

section {
    background-color: #f9f9f9 !important;
}

#secSteps {
    padding: 80px 0;
    color: #333 !important;
}

#secSteps form {
    color: #333 !important;
}

#secSteps a {
    text-decoration-line: none !important;
}

#secSteps .btn-link {
    width: 100%;
}

#step4 .panel-heading {
    font-weight: bold;
    font-size: large;
}

#step2 h3,
#step3 h3 {
    margin-bottom: 20px;
}

#step4 .panel-body {
    padding-top: 0;
}

#step4 .panel-body h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

/*end section*/

/*input*/

#inputUpload {
    display: none;
}

/*end input*/

/*panel*/

.link-title h4,
.panelCollapse h4 {
    font-weight: bold;
    margin-left: -2.5px;
}

.panel-collapse {
    border-left: 1px solid #bbb;
    margin-left: 8.5px;
}

.panel-collapse.collapse.in {
    display: inline-block;
}

#pnlSubmit,
#pnlValidate,
#pnlNext {
    margin-top: 20px;
}

.panel-textarea .checkbox {
    margin-bottom: 5px;
}

.panel-textarea textarea {
    margin-left: 25px;
}

.panel-settings-info {
    margin-bottom: 5px;
}

.panel-settings-info > label {
    width: 113px;
}

#pnlSettings h3 {
    margin-bottom: 10px !important;
}

#pnlSettingsInfo {
    margin-bottom: 30px;
}

.panel-head h3 {
    margin-bottom: 20px;
}

#dropzone {
    margin-bottom: 3rem;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

@media (min-width: 1200px) {
    #panelStats .col-md-2 {
        width: 20%;
    }
}

/*end panel*/
