
/*section*/

#secOptions {
    display: flex;
    align-items: center;
    color: #333;
}

.panel-options {
    padding: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.panel-options a {
    color: #333 !important;
    text-decoration-line: none !important;
}

.panel-options:hover h2 {
    font-weight: bold;
}

.panel-options > .fa {
    font-size: 10em;
    margin-bottom: 20px;
}

.panel-options:nth-child(2) {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

@media (max-width: 767px) {
    .panel-options:nth-child(2) {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        border-left: none;
        border-right: none;
    }
}

/*end section*/
