/*section*/

#pnlIndex > section > h3 {
    margin-bottom: 60px;
    font-weight: bold;
}

#pnlIndex iframe {
    width: 100%;
}

#secLanding {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center !important;
    /*background-color: #61082b;*/
    background: url(https://static.pexels.com/photos/547114/pexels-photo-547114.jpeg) center;
    background-size: cover;
}

.dark {
    position: absolute;
    width: 100%;
    height: 100%;
    top; 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index 1;
}

.website-logo {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
}

.website-logo h1 {
    font-size: 55px;
    font-weight: bold !important;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.arrow-down {
    position: absolute;
    font-size: 2.5em;
    color: white !important;
    text-decoration: none !important;
    bottom: 15px;
}

.arrow-down > span {
    display: inline-block !important;
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);

}

.arrow-up {
    position: absolute;
    font-size: 1.5em;
    margin-top: -3.5px;
    color: white !important;
    text-decoration: none !important;
    z-index: 5;
}

#secLanding > .container {
    z-index: 2;
}

.landing-text .btn {
    margin-top: 20px;
}

#secChoose {
    background-color: #2196F3;
}

#secChoose .info-panel:first-child {
    padding-top: 0;
}

.info-panel {
    padding: 25px 0;
}

.info-panel h3 {
    font-weight: bold;
}

.info-panel p {
    line-height: 2;
}

.info-panel img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#secPricing {
    color: #333 !important;
}

.pricing-table {
    display: flex;
    flex-direction: row;
    padding: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

}

.pricing-table .btn {
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    flex-basis: 33%;
    flex-grow: 1;
    padding: 20px 40px;
    text-align: center;
    font-size: 0.7em;
}

.plan:nth-child(even) {
    background-color: #e9e9e9;
}

.plan-name p, .plan-features {
    font-size: 14px;
}

.plan-price {
    margin: 15px;
}

.offer-price {
    font-size: 2.4em;
}

.offer-price::before {
    content: "$";
    font-size: 0.6em;
    vertical-align: top;
}

.usual-price {
    text-decoration: line-through;
    font-size: 1.2em;
}

.usual-price::before {
    content: "$"
}

.plan-features {
    margin: 0 auto;
    flex-grow: 1;
}

ul.plan-features {
    text-align: left;
    display: inline-block;
    padding-left: 20px;
}

.plan-features > li:last-child {
    list-style: none;
}

form {
    margin-top: 10px;
}

.button {
    border: 1px solid grey;
    margin: 10px 0;
    padding: 10px 0;
}

.purchase {
    background-color: #2196f3;
    border: none;
    color: white !important;
}

@media (max-width: 768px) {
    .pricing-table {
        flex-direction: column;
    }
}

#secContact {
    background-color: #fafdff;
    color: #333 !important;
    min-height: 0 !important;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: -6px;
}

/*end section*/

/*login and register panel*/

#pnlLoginRegister {
    position: absolute;
    background-color: #fafdff;
    height: 100%;
    width: 35vw;
    right: 0;
    bottom: 0;
    padding: 15px 40px;
    color: #333;
    z-index: 1031;
    overflow: hidden
}

#pnlLoginRegister .btn {
    width: 100%;
    padding: 10px;
    display: inline-block;
    vertical-align: super;
}

#pnlLoginRegister a {
    text-decoration-line: none !important;
}

#pnlLogin,
#pnlRegister {
    margin-top: 15%;
    width: 100%;
}

#pnlLoginRegister nav li a {
    color: #333 !important;
}

#pnlLoginRegister .header-text {
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    #pnlLoginRegister {
        width: 100%;
        overflow: overlay;
    }

    #pnlLogin,
    #pnlRegister {
        margin-top: 5%;
    }

    #pnlLoginRegister .header-text {
        margin-bottom: 20px;
    }

    #pnlLoginRegister .navbar-right li,
    #pnlLoginRegister .navbar-left li {
        display: inline-block !important;
    }

    #pnlLoginRegister .navbar-right {
        float: right;
    }
}

/*end login and register panel*/
