/*navbar*/

nav li a,
.navbar-brand {
    color: #fafdff !important;
}

nav li a:hover,
nav li a:focus,
nav li a.active {
    background-color: transparent !important;
    font-weight: bold;
}

.navbar-toggle .icon-bar {
    background-color: #fafdff;
}

.navbar {
    transition: 0.2s all ease;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-left {
    float: left !important;
    margin-left: -15px;
}

.navbar.sec1 {
    background-color: #61082b;
}

.index-page .navbar.sec1 {
    background-color: transparent;
}

@media (max-width: 768px) {
    .index-page .navbar.sec1 {
        background-color: #61082b;
    }
}

.index-page .sec1 .navbar-brand,
.index-page .sec1 .navbar-pricing {
    display: none;
}

body:not(.index-page) .navbar-brand {
    padding-top: 18.7px;
}

.navbar.sec2 {
    background-color: #2196F3;
    z-index: 1035;
}

.navbar.sec3 {
    background-color: #fafdff;
}

.navbar.sec3 a {
    color: #333 !important;
}

.navbar.sec3 .navbar-toggle .icon-bar {
    background-color: #333;
}

@media (max-width: 768px) {
    #myNavbar ul li a > span:last-child {
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    #myNavbar > .navbar-right .fa {
        font-size: 25px;
    }
}


/*navbar end*/

/*section*/

section {
    min-height: 100vh;
    padding: 40px 0;
    color: #fafdff;
}

/*end section*/

/*footer*/

footer {
    background-color: #000000;
    color: #fafdff;
    padding: 50px 0 10px 0;
    overflow: hidden;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    line-height: 2.3;
}

footer a {
    color: #fafdff !important;
    text-decoration-line: none;
}

#pnlFooterLink {
    padding-bottom: 50px;
}

#pnlFooterLink h3 {
    font-weight: bold;
    text-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#pnlFooterLink .fa {
    cursor: pointer;
}

/*end footer*/

/*general*/

body {
    font-family: 'Quicksand', sans-serif;
}

hr {
    color: #fafdff;
}

hr.short {
    width: 30px;
    border-width: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.centered {
    display: flex;
    justify-content: center;
}

.tooltip {
    position: fixed;
    z-index: 15;
}

@media (max-width: 767px) {
    .invert-xs {
        display: flex;
        flex-flow: column-reverse;
    }
}

/*end general*/

/*share*/

#pnlShare {
    position: fixed;
    left:0;
    top: 30%;
    display: none;
}

.share-social {
    position: absolute;
    overflow: hidden;
    width: 39px;
}

.share-social .btn {
    margin: 0;
    width: 40px;
    padding: 5px;
    text-align: center;
    border: none;
    box-shadow: none;
}

/*end share*/

/*equal height fix*/

@media only screen and (min-width: 768px) {
    .is-table-row {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}

/*end equal height fix*/

/*scrollbar*/

::-webkit-scrollbar {
    /* width: 12px; */
    background-color: #afafaf;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #afafaf;
    background-color: #2d2d2d;
}

::-webkit-scrollbar-track {
    background-color: #afafaf;
}

/*end scrollbar*/
