/*buttons*/

.btn {
    border-radius: 0 !important;
    padding: 8px 33px;
    background-image: none !Important;
    font-weight: bold;
    margin-bottom: 15px;
    transition: 0.2s all ease;
}

.btn:not(.btn-default) {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn:not(.btn-default):hover,
.btn:not(.btn-default):focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-default {
    background-color: white !important;
    box-shadow: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
}

.btn-default:hover,
.btn-default:focus {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn-facebook {
    background-color: #3090e6 !important;
    color: white !important;
}

.btn-upload {
    background-color: #1E88E5 !important;
    color: white !important;
}

.btn-submit {
    background-color: #3090e6 !important;
    color: white !important;
}

.btn-link {
    padding: 30px 0;
    background-color: #1E88E5 !important;
    color: white !important;
}

/*end buttons*/

/*form*/

.form-control,
textarea,
input {
    border-radius: 0 !important;
    outline: 0 !important;
    border: 1px solid #d0d0d3;
}

.form-control:hover,
.form-control:focus,
input:focus,
textarea:focus {
    border: 1px solid #333 !important;
    outline-color: transparent !important;
    box-shadow: none !important;
}

/*end form*/

/*panel*/

.panel {
    border-radius: 2px !important;
    transition: 0.25s all ease;
}

.panel:not(.panel-default) {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.panel:not(.panel-default):hover,
.panel:not(.panel-default):focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.panel-heading {
    background-image: none !important;
}

.panel-default .panel-heading {
    background-color: transparent !important;
    border-bottom: none !important;
}

.panel-default {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
}

.panel-default:hover,
.panel-default:focus {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/*end panel*/

/*modal*/

.modal,
.modal-dialog,
.modal-content {
    border-radius: 2px !important;
}

.modal .modal-footer .btn {
    margin-bottom: 0;
}

.modal .modal-body p {
    vertical-align: text-bottom;
}

.modal hr {
    margin: 5px 0 10px;
}


.modal .modal-header h1,
.modal .modal-header h2,
.modal .modal-header h3,
.modal .modal-header h4 {
    margin: 0;
    font-weight: bold;
}

/*end modal*/

/*tab*/

.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.nav-tabs > li a {
    border-top: none !Important;
    border-left: none !Important;
    border-right: none !Important;
    color: lightgray;
    background-color: transparent !important;
}

.nav-tabs > li.done a {
    color: #333 !important;
}

.nav-tabs > li.active a {
    border-bottom: 3px solid #3090e6 !important;
    color: #333 !important;
}

.nav-tabs li a:hover, .nav-tabs li a:focus {
    background-color: transparent !important;
    cursor: pointer !important;
}

.tab-pane {
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px 15px 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
}



/*end tab*/

/*pills*/

.nav-pills li.active a {
    border-radius: 2px;
    background-color: #3593e7 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .06);

}

.nav-pills li a {
    margin-right: 10px;
    margin-bottom: 10px;
    
}

/*end pills*/

/*checkbox, radio, and switch*/

.checkbox,
.radio {
    margin-bottom: 20px;
}

.checkbox *,
.radio * {
    cursor: pointer;
}

.checkbox input,
.radio input {
    opacity: 0;
}

.checkbox span,
.radio span {
    position: relative;
    display: inline-block;
    margin-left: -20px;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #d0d0d3;
}

.checkbox:hover span,
.radio:hover span {
    border-color: #333;
}

.checkbox span:before,
.radio span:before {
    content: "\2713";
    /* comment content to use custom icon classes */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: teal;
}

.radio span {
    border-radius: 50%;
}

.radio span:before {
    content: "";
    width: 10px;
    height: 10px;
    margin: 4px auto;
    background-color: teal;
    border-radius: 100px;
}

.checkbox input[type=checkbox]:checked + span,
.radio input[type=radio]:checked + span {
    border-color: teal;
    background-color: teal;
}

.radio input[type=radio]:checked + span {
    background-color: #fff;
}

.checkbox input[type=checkbox]:checked + span:before,
.radio input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color .3 ease-out;
}

.checkbox input[type=checkbox]:disabled + span,
.radio input[type=radio]:disabled + span {
    border-color: #ddd !important;
    background-color: #ddd !important;
}

.switch * {
    cursor: pointer;
}

.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.switch span {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    transition: all .5s;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border: 1px solid #ddd;
    border-radius: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
}

.switch input:checked + span {
    background-color: teal;
    border-color: teal;
    transition: all .5s;
}

.switch input:checked + span:after {
    left: 50%;
    transition: all .2s;
}

/*end checkbox, radio, and switch*/
